@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

header {
  width: 100%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;

  .page-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16vmin;
    // text-align: center;
    line-height: 1.3em;
    letter-spacing: -0.1em;
    padding-top: 0.5em;
  }

  .description {
    max-width: 70ch;
    font-size: 3vmin;
    // margin-right: -2em;
    align-self: flex-end;
  }
}
